.git
__pycache__
.DS_Store
.pkl
.DS_Store
.vscode
.__init__
.ipynb_checkpoints
*.pkl
*.env
.scannerwork/.sonar_lock
.scannerwork/class-mapping.csv
.scannerwork/report-task.txt
.coverage
coverage.xml
*.yml
*.yaml
*.csv
*.dat
*.prqt
!.github/workflows/*
.idea
*.tfevents
*.tsv
